﻿@using PhotoContest.Services.Contracts
@inject IContestService contestService
@inject IPhotoService photoService
@inject IReviewService reviewService
@model PhotoViewModel

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

            #myImg:hover {
                opacity: 0.7;
            }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        /* Add Animation */
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

    <div>
        @{
            var contest = await contestService.GetByPhotoAsync(Model.Id);
            var reviews = await reviewService.GetByPhotoAsync(Model.Id, contest.Title);
        }
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4" style="display:block; margin:0 auto">
                <div>
                    <img class="card-img-top" id="@Model.Id.ToString()" src="@Model.ImageUrl" alt="@Model.Title" style="width:100%;max-width:300px">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <table class="table table-hover">
                    <tr>
                        <td>Title</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Author</td>
                        <td><a href="@Url.Action("UserProfile" ,"Users", new { username = @Model.Author.UserName })">@Model.Author.UserName</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                <table class="table table-hover">
                    <tr>
                        <td>Contest</td>
                        <td><a href="@Url.Action("Contest" ,"Contests", new { contestTitle = @contest.Title })">@contest.Title</a></td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td>@await photoService.GetTotalPointsAsync(Model.Id)</td>
                    </tr>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <h4>Reviews</h4>
                <hr />
                @if (reviews.Count > 0)
                {
                    <table class="table table-hover">
                        <tr>
                            <th>Author</th>
                            <th>Score</th>
                            <th>Comment</th>
                        </tr>
                        @foreach (var review in reviews)
                        {
                            <tr>
                                <td><a href="@Url.Action("UserProfile" ,"Users", new { username = @review.Author.UserName })">@review.Author.UserName</a></td>
                                <td>@review.Score</td>
                                <td>@review.Comment</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <h4>No reviews for this photo!</h4>
                }
            </div>
        </div>
    </div>

    <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("@Model.Id.ToString()");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    </script>