﻿@model PhotoCreateModel

<h4>To join contest "@ViewBag.ContestTitle", first have to upload your photo!</h4>
<hr />

<form asp-controller="Contests" asp-action="AddPhoto" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly">
        <span>Please correct the following errors</span>
    </div>

    <div class="form-group row">
        <div class="col-4">
            <label asp-for="Title">Title</label>
            <input type="text" class="form-control" asp-for="Title" placeholder="Enter title">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="col-4">
            <label asp-for="Description">Description</label>
            <input type="text" class="form-control" asp-for="Description" placeholder="Enter description">
            <span asp-validation-for="Description"></span>
        </div>
        <div class="col-4">
            <label asp-for="File">Photo</label>
            <input type="file" class="form-control-file" asp-for="File">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <input type="hidden" name="ContestTitle" value="@ViewBag.ContestTitle" />
            <button type="submit" value="Create" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}