﻿@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using PhotoContest.Services.Helpers.Enums;

@inject SignInManager<User> signInManager
@model IPagedList<ContestViewModel>

@if (signInManager.IsSignedIn(User))
{
    <form asp-action="All" method="get">
        <div class="form-actions no-color">
            <p>
                @Html.TextBox("search", ViewBag.Search as string, new { @placeholder = "Type contest Title:" })
                <input type="submit" value="Search" class="btn btn-primary btn-sm" />
                <a class="btn btn-outline-secondary btn-sm" asp-action="All"> Back to full list</a>
            </p>
        </div>
    </form>

    <div>
        @if (ViewBag.Phase != null)
        {
            <h3 class="">Contests in @ViewBag.Phase</h3>
            <hr />
        }
        else
        {
            <h3 class="">All Contests</h3>
            <hr />
        }
    </div>

    var columns = new Dictionary<string, object>[] {
        new Dictionary<string, object> { { "Label", "Title" }, { "SortBy", SortBy.Title }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Category" }, { "SortBy", SortBy.Category }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Creator" }, { "SortBy", SortBy.Creator }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Phase" }, { "SortBy", SortBy.Phase }, { "Size", 30 } },
    };

    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().CoverURL)</th>
                @foreach (var column in columns)
                {
                    <th style="width: @column["Size"]">

                        @if (ViewBag.SortBy == (SortBy)@column["SortBy"])
                        {
                            var newOrderBy = ViewBag.OrderBy == OrderBy.Asc ? OrderBy.Desc : OrderBy.Asc;
                            @Html.ActionLink(@column["Label"].ToString(), "All", new { phase = ViewBag.Phase, sortBy = @column["SortBy"], orderBy = newOrderBy, search = ViewBag.Search })

                            var faClass = ViewBag.OrderBy == OrderBy.Asc ? "fa fa-sort-up" : "fa fa-sort-down";
                            <i class="@faClass"></i>
                        }
                        else
                        {
                            @Html.ActionLink(@column["Label"].ToString(), "All", new { phase = ViewBag.Phase, sortBy = @column["SortBy"], orderBy = OrderBy.Asc, search = ViewBag.Search })
                        }
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var contest in Model)
            {
                <tr>
                    <td>
                        <div class="cover-avatar-listing"><img src="@contest.CoverURL" alt="" style="max-height: 100px; max-width: 100px;" height=100 width=200></div>
                    </td>
                    <th scope="row">
                        <a href="@Url.Action("Contest" ,"Contests", new { contestTitle = contest.Title })">
                            @contest.Title
                        </a>
                    </th>
                    <td>@Html.DisplayFor(modelContest => contest.Category.Name)</td>
                    <th scope="row">
                        <a href="@Url.Action("UserProfile" ,"Users", new { username = contest.Creator.UserName })">
                            @contest.Creator.UserName
                        </a>
                    </th>
                    <td>@Html.DisplayFor(modelContest => contest.Phase)</td>
                </tr>
            }
        </tbody>
    </table>


    @Html.PagedListPager(Model,
    page => Url.Action("All", new { page, search = ViewBag.Search, phase = ViewBag.Phase }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        DisplayLinkToIndividualPages = true,
        DisplayPageCountAndCurrentLocation = false,
        MaximumPageNumbersToDisplay = 10,
        LiElementClasses = new string[] { "page-item" },
        UlElementClasses = new string[] { "pagination justify-content-center" },
        PageClasses = new string[] { "page-link" },
    })
}
