﻿@using PhotoContest.Services.Common
@using PhotoContest.Services.Contracts
@using System.Security.Claims
@inject IValidatorService validatorService
@inject IPhotoService photoService
@inject IContestService contestService
@model ContestViewModel

@{
    Guid userId = Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div class="container">
    <div class="row">
        @*contest cover*@
        <div class="col">
            <img style="height: 350px; width: 700px" class="rounded float-left" src="@Model.CoverURL" />
        </div>
        @*contest info*@
        <div class="col-4.5">
            <div class="jumbotron" style="padding:10px; width: 340px">
                <partial name="ContestInfoTable" />
                @*join button / JUNKIE*@
                @if (!await validatorService.CheckParticipantAsync(Model.Title, userId)
                      && Model.Phase == Constants.Contest.PHASE_ONE_STRING
                      && !User.IsInRole("Admin")
                      && !await validatorService.CheckJuryAsync(Model.Title, userId))
                {
                    <div>
                        <a href="@Url.Action("Join", "Contests", new { ContestTitle = Model.Title, ParticipantId = userId })" type="button" class="btn btn-primary text-center">Join</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Phase Two / info for participants*@
@if (Model.Phase == Constants.Contest.PHASE_TWO_STRING &&
await validatorService.CheckParticipantAsync(Model.Title, userId))
{
    <hr />
    <h4>You participate in this contest. The contests is in Phase Two. Now jury reviews all photos.</h4>
    <hr />
}

@*uploaded photo info / only in Phase One, JUNKIE*@
@if (await validatorService.CheckParticipantAsync(Model.Title, userId)
&& (Model.Phase == Constants.Contest.PHASE_ONE_STRING || Model.Phase == Constants.Contest.PHASE_TWO_STRING)
&& !User.IsInRole("Admin")
&& !await validatorService.CheckJuryAsync(Model.Title, userId))
{
    if (await validatorService.CheckAlreadyUploadedPhotoAsync(Model.Title, userId))
    {
        <div class="container">
            <div class="row">
                <div class="col-3.5">
                    <partial name="UploadedPhotoInfo" model=@await photoService.GetByContestAndAuthorAsync(userId, Model.Title)>
                </div>
            </div>
        </div>
    }
}

@*review photos / only in Phase TWO, JURY*@
@if (await validatorService.CheckJuryAsync(Model.Title, userId))
{
    <hr />
    if (Model.Phase == Constants.Contest.PHASE_ONE_STRING)
    {
        <h4>You are jury in this contest. In Phase Two you can write reviews.</h4>
    }
    else if (Model.Phase == Constants.Contest.PHASE_TWO_STRING)
    {
        <div>
            @{ var photos = await photoService.GetByContestAsync(Model.Title);
                ViewData["ContestTitle"] = @Model.Title;
                var counter = 0;}
        </div>

        @foreach (var photo in photos)
        {
            if (validatorService.CheckAlreadyReviewedPhotoAsync(photo.Id, userId))
            {
                continue;
            }
            <div class="jumbotron">
                <div class="container">
                    <partial name="PhotoCardReviewForm" model="@photo" view-data=ViewData />
                </div>
            </div>
            counter++;
        }

        if (counter == 0)
        {
            <h4>No more photos!</h4>
        }
    }
}

@*Phase One / Jury and admins can view submitted photos but cannot rate them yet.*@
@if ((await validatorService.CheckJuryAsync(Model.Title, userId) || User.IsInRole("Admin")) &&
Model.Phase == Constants.Contest.PHASE_ONE_STRING)
{
    <div>
        @{var photos = await photoService.GetByContestAsync(Model.Title);}
    </div>
    <hr />
    if (photos.Count > 0)
    {
        @foreach (var photo in photos)
        {
            <div class="row">
                <div class="col-3.5">
                    <div class="card" style="width: 18rem;">
                        <div>
                            <img class="card-img-top" id="@photo.Id.ToString()" src="@photo.ImageUrl" alt="@photo.Title" style="width:100%;max-width:300px">
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <span class="close">&times;</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center">@photo.Title</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            Author
                        </div>
                        <div class="card-body">
                            <p class="card-text"><a href="@Url.Action(" UserProfile" ,"Users", new { username=@photo.Author.UserName })">@photo.Author.UserName</a></p>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            Description
                        </div>
                        <div class="card-body">
                            <p class="card-text">@photo.Description</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("@photo.Id.ToString()");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
            </script>
        }
    }
    else
    {
        <h4>No photos in this contest!</h4>
    }
}

@*Phase Finished*@
@if (Model.Phase == Constants.Contest.PHASE_FINISHED_STRING)
{
    <div>
        @{ var list = await contestService.GetWinners(Model.Title);
            var firstPlaced = list.FirstPlaced;
            var secondPlaced = list.SecondPaced;
            var thirdPlaced = list.ThirdPlaced;
            var lowPlaced = list.LowPlaced;
        }
    </div>

    <table class="table table-hover">
        <tr>
            <th>Place</th>
            <th>Photo</th>
            <th>Total Score</th>
        </tr>
        @foreach (var first in firstPlaced)
        {
            <tr>
                <td>1</td>
                <td>
                    <a href="@Url.Action("Photo" ,"Photos", new { photoId=first.PhotoId })">
                        <img width="200" src="@first.Photo.ImageUrl" />
                    </a>
                </td>
                <td>@first.Photo.Reviews.Sum(r => r.Score)</td>
            </tr>
        }
        @foreach (var second in secondPlaced)
        {
            <tr>
                <td>2</td>
                <td>
                    <a href="@Url.Action("Photo" ,"Photos", new { photoId=second.PhotoId })">
                        <img width="200" src="@second.Photo.ImageUrl" />
                    </a>
                </td>
                <td>@second.Photo.Reviews.Sum(r => r.Score)</td>
            </tr>
        }
        @foreach (var third in thirdPlaced)
        {
            <tr>
                <td>3</td>
                <td>
                    <a href="@Url.Action("Photo" ,"Photos", new { photoId=third.PhotoId })">
                        <img width="200" src="@third.Photo.ImageUrl" />
                    </a>
                </td>
                <td>@third.Photo.Reviews.Sum(r => r.Score)</td>
            </tr>
        }
        @{ int number = firstPlaced.Count + secondPlaced.Count + thirdPlaced.Count + 1; }
        @foreach (var lowPlace in lowPlaced)
        {
            <tr>    
                <td>@number</td>
                <td>
                    <a href="@Url.Action("Photo", "Photos", new { photoId = lowPlace.PhotoId })">
                        <img width="200" src="@lowPlace.Photo.ImageUrl" />
                    </a>
                </td>
                <td>@lowPlace.Photo.Reviews.Sum(r => r.Score)</td>
            </tr>              
            number = number + 1;
        }
    </table>
}



