﻿@model ContestCreateModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Routing;
@using PhotoContest.Services.Contracts;

@inject SignInManager<User> signInManager
@{ var users = ViewBag.Users;}

@if (signInManager.IsSignedIn(User))
{
    <h4>Create new Contest:</h4>

    <hr />
    <div class="container">
        <form asp-action="GetContestCreateModel" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label">Title:</label>
                        <input asp-for="Title" type="text" class="form-control" placeholder="Type Title here:" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhaseOneFinishTime" class="control-label">Phase One finish date:</label>
                        <input asp-for="PhaseOneFinishTime" type="datetime-local" class="form-control" />
                        <span asp-validation-for="PhaseOneFinishTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhaseTwoFinishTime" class="control-label">Phase Two finish date:</label>
                        <input asp-for="PhaseTwoFinishTime" type="datetime-local" class="form-control" />
                        <span asp-validation-for="PhaseTwoFinishTime" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="control-label">Category:</label>
                        <input asp-for="CategoryName" type="text" class="form-control" placeholder="Type Category here:" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <!-- Button trigger modal -->

                        <label asp-for="IsInvitational" class="control-label">Invitational</label>
                        <small>(If invitational, choose users to participate)</small>
                        <input type="checkbox" name="IsInvitational" class="inline checkbox" id="checkbox1" value="false" data-toggle="modal" data-target="#myModal">

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModal">Pick users:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                            </thead>
                                            <tbody class="table">
                                                @foreach (var user in ViewBag.Users)
                                                {
                                                    <tr>
                                                        <th><input name="ParticipantsUsernames" value="@user.UserName" type="checkbox" /></th>
                                                        <td><img class="cover-avatar-listing round-profile-photo" src="@user.AvatarPath" alt="" style="max-height: 50px; max-width: 50px;" height=100 width=150></td>
                                                        <th>@user.UserName</th>
                                                        <th>@user.Rank</th>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    @*Master Can be Jury*@
                    <div class="form-group">
                        <!-- Button trigger modal -->

                        <label asp-for="MasterCanBeJury" class="control-label">Pick Jury from users</label>
                        <small>(Ranked as MASTERS)</small>
                        <input type="checkbox" name="MasterCanBeJury" class="inline checkbox" id="checkboxMasters" value="false">
                    </div>

                </div>
                <hr />
                <div class="col">
                    <h5>Choose one of the following options for uploading Cover:</h5>
                    <hr />
                    <div class="form-group">
                        <label asp-for="CoverURL" class="control-label">Type Cover URL:</label>
                        <input asp-for="CoverURL" type="url" class="form-control" placeholder="Type URL here:" />
                        <span asp-validation-for="CoverURL" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="CoverFile" class="control-label">Cover:</label>
                        <input name="CoverFile" type="file" class="form-control-file" />
                    </div>
                    <hr />

                    <div class="form-group">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalScrollable">
                            Choose from previous covers
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Pick one from previous covers:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach (var image in ViewBag.Images)
                                        {
                                            <hr />
                                            <div class="text-center">
                                                <img src="@image.ImageUrl" style="max-height: 300px; max-width: 300px;" class="rounded cover-avatar-listing img" alt="...">
                                                <input name="CoverId" value="@image.Id" type="radio" />
                                            </div>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <hr />
            <div class="col">
                <button asp-action="GetContestCreateModel" asp-controller="Contests" method="get" type="submit" class="btn btn-primary">Next Step</button>
            </div>
        </form>
    </div>
    <hr />

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $('#checkbox-value').text($('#checkbox1').val());

    $("#checkbox1").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }

        $('#checkbox-value').text($('#checkbox1').val());
    });
</script>

<script>
    $('#checkbox-value').text($('#checkboxMasters').val());

    $("#checkboxMasters").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }

        $('#checkbox-value').text($('#checkboxMasters').val());
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}