﻿@using PhotoContest.Services.Helpers.Enums;
@using PhotoContest.Services.Contracts
@using System.Security.Claims

@inject IValidatorService validatorService

@model IPagedList<ContestViewModel>

<div>
    <h2>Open contests</h2>
    <hr />

    <form asp-action="OpenContests" method="get">
        <div class="form-actions no-color">
            <p>
                @Html.TextBox("search", ViewBag.Search as string, new { @placeholder = "Type contest Title:" })
                <input type="submit" value="Search" class="btn btn-primary btn-sm" />
                <a class="btn btn-outline-secondary btn-sm" asp-action="OpenContests"> Back to full list</a>
            </p>
        </div>
    </form>

    @{ var columns = new Dictionary<string, object>[] {
        new Dictionary<string, object> { { "Label", "Title" }, { "SortBy", SortBy.Title }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Category" }, { "SortBy", SortBy.Category }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Creator" }, { "SortBy", SortBy.Creator }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Remaining time for joining" }, { "SortBy", SortBy.RemainingTime }, { "Size", 30 } },
    }; }

    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th>Cover</th>
                @foreach (var column in columns)
                {
                    <th style="width: @column["Size"]">

                        @if (ViewBag.SortBy == (SortBy)@column["SortBy"])
                        {
                            var newOrderBy = ViewBag.OrderBy == OrderBy.Asc ? OrderBy.Desc : OrderBy.Asc;
                            @Html.ActionLink(@column["Label"].ToString(), "OpenContests", new { sortBy = @column["SortBy"], orderBy = newOrderBy, search = ViewBag.Search })

                            var faClass = ViewBag.OrderBy == OrderBy.Asc ? "fa fa-sort-up" : "fa fa-sort-down";
                            <i class="@faClass"></i>
                        }
                        else
                        {
                            @Html.ActionLink(@column["Label"].ToString(), "OpenContests", new { sortBy = @column["SortBy"], orderBy = OrderBy.Asc, search = ViewBag.Search })
                        }
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @{Guid userId = Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));}
            @foreach (var contest in Model)
            {
                @if (await validatorService.CheckParticipantAsync(contest.Title, userId))
                {
                    continue;
                }
                <tr>
                    <td>
                        <div class="cover-avatar-listing">
                            <img src="@contest.CoverURL" alt="" style="max-height: 100px; max-width: 100px;" height="100" width="200">
                        </div>
                    </td>
                    <th scope="row">
                        <a href="@Url.Action("Contest" ,"Contests", new { contestTitle = contest.Title })">
                            @contest.Title
                        </a>
                    </th>
                    <td>@contest.Category.Name</td>
                    <td><a href="@Url.Action("UserProfile" ,"Users", new { username = @contest.Creator.UserName })">@contest.Creator.UserName</a></td>
                    <td>@contest.RemainingTimePhaseOne.Days days, @contest.RemainingTimePhaseOne.Hours hours, @contest.RemainingTimePhaseOne.Minutes minutes</td>
                    <td>
                        <a href="@Url.Action("Join", "Contests", new { ContestTitle = contest.Title, ParticipantId = userId })" type="button" class="btn btn-primary text-center">Join</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@Html.PagedListPager(Model,
    page => Url.Action("OpenContests", new { page, search = ViewBag.Search }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
        DisplayLinkToIndividualPages = true,
        DisplayPageCountAndCurrentLocation = false,
        MaximumPageNumbersToDisplay = 10,
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
    })