﻿@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using PhotoContest.Services.Helpers.Enums;

@model ContestCreateModel
<h4>Pick Jury from all available Users:</h4>

<form class="form-inline" asp-action="Create" method="post">
    <input type="hidden" name="Title" value="@Model.Title" />
    <input type="hidden" name="CoverId" value="@Model.CoverId" />
    <input type="hidden" name="CoverFile" value="@Model.CoverFile" />
    <input type="hidden" name="CoverURL" value="@Model.CoverURL" />
    <input type="hidden" name="CategoryName" value="@Model.CategoryName" />
    <input type="hidden" name="PhaseOneFinishTime" value="@Model.PhaseOneFinishTime" />
    <input type="hidden" name="PhaseTwoFinishTime" value="@Model.PhaseTwoFinishTime" />
    <input type="hidden" asp-for="IsInvitational" value="@Model.IsInvitational" />
    <input type="hidden" asp-for="MasterCanBeJury" value="@Model.MasterCanBeJury" />
    @{ if (Model.ParticipantsUsernames != null)
        {
            foreach (var part in Model.ParticipantsUsernames)
            {
                <input type="hidden" asp-for="ParticipantsUsernames" value="@part" />
            }
        }
    }




    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Avatar</th>
                <th scope="col">Username</th>
                <th scope="col">Rank</th>
            </tr>
        </thead>

        <tbody class="table-borderless">
            @foreach (var participant in ViewBag.AvailableParticipantsToBeJury)
            {
                <tr>
                    <td><input type="checkbox" id="@participant.UserName" name="juryUserNames" value="@participant.UserName" /></td>
                    <td><img class="cover-avatar-listing round-profile-photo" src="@participant.AvatarPath" alt="" style="max-height: 50px; max-width: 50px;" height=100 width=150></td>
                    <th scope="row">@participant.UserName</th>
                    <td>@participant.Rank</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col text-center">
        <button asp-action="Create" asp-controller="Contests" method="post" type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
