﻿@using Microsoft.AspNetCore.Identity
@using PhotoContest.Services.Contracts
@using System.Security.Claims
@using System.Linq
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject IUserService userService
@inject INotificationService notificationService
@inject SignInManager<User> signInManager

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Photo Contest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #ffffff;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidebar label {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 11px;
                color: lightgray;
                display: block;
                transition: 0.3s;
            }

            .sidebar hr {
                color: aqua
            }

            .sidebar a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: black;
                display: block;
                transition: 0.3s;
            }

            .sidebar img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border: dashed;
                background-color: white
            }

            .sidebar p {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 15px;
                color: black;
                display: block;
                transition: 0.3s;
            }

            .sidebar a:hover {
                color: darkturquoise;
            }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        .openbtn {
            font-size: 15px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

            .openbtn:hover {
                background-color: #444;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        .dropdown-menu {
            width: 210px;
            white-space: normal;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding-top: 1px; padding-bottom:1px;">
            <div class="navbar-brand">
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="openbtn" onclick="openNav()">☰</button>
                }
            </div>

            <div class="navbar-brand" style="position:absolute; left:50%; margin-left:-37.5px; display:block">
                <a asp-controller="Home" asp-action="Index">
                    <img src="https://res.cloudinary.com/predatorsphotocloud/image/upload/v1622196921/550-5500416_camera-logo-png-camera-logo-black-and-white_wx0ldv.png" width="70" height="40" />
                </a>
            </div>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>

            <div class="navbar-brand" style="position:absolute; right:0%; margin-left:-50px; display:block">
                @if (signInManager.IsSignedIn(User))
                {
                    <div>
                        @{
                            var notifications = await notificationService.GetUserNotificationsAsync(Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)));
                        }
                    </div>
                    @if (notifications.Count() == 0)
                    {
                        <div class="navbar-brand">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle fa fa-bell" style="color:black; font-size:large" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Notifications
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <p>No New Notifications</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="navbar-brand">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle fa fa-bell" style="color:red; font-size:large" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Notifications
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                    @foreach (var notif in notifications)
                                    {
                                        if (notif.Message == String.Format(Constants.Notification.PARTICIPANT_INVITATION_TEMPLATE, notif.Contest.Title))
                                        {
                                            <a href="@Url.Action("NotificatedAddPhoto" ,"Contests", new { contestTitle = notif.Contest.Title, notificationId = notif.Id })">
                                                @notif.Message
                                            </a>
                                            <hr>
                                        }
                                        else
                                        {

                                            <a href="@Url.Action("NotificatedContest" ,"Contests", new { contestTitle = notif.Contest.Title, notificationId = notif.Id })">
                                                @notif.Message
                                            </a>
                                            <hr>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Junkie"))
                {
            <div id="mySidebar" class="sidebar">
                @{UserDTO user = await userService.GetAsync(Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)));}
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <img src="@user.Avatar.ImageUrl" class="round-profile-photo" width="150" height="150" />
                <br />
                <label style="color:black">PROFILE:</label>
                <a asp-controller="Users" asp-action="Profile">@user.UserName</a>
                <a asp-controller="Home" asp-action="Rules">@user.Rank</a>
                <hr />
                <label style="color:black">CONTESTS:</label>
                <a asp-controller="Contests" asp-action="OpenContests">Open</a>
                <a asp-controller="Contests" asp-action="ParticipatingContests">My current</a>
                <a asp-controller="Contests" asp-action="ParticipatedContests">My finished</a>
                <a asp-controller="Contests" asp-action="JuryContests">Jury</a>
                <hr />
                <label style="color:black">BROWSE:</label>
                <a asp-controller="Contests" asp-action="FinishedContests">Ended Contests</a>
                <hr />
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button style="padding: 8px 40% 8px 40%; text-align:center;" type="submit" class="btn-danger">Logout</button>
                </form>
            </div>
                    <div id="main">
                        @RenderBody()
                    </div>
                }
                else
                {
                    <div id="mySidebar" class="sidebar">
                        @{UserDTO user = await userService.GetAsync(Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)));}
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                        <img class="round-profile-photo" src="@user.Avatar.ImageUrl" width="150" height="150" />
                        <label style="color:black">PROFILE:</label>
                        <a asp-controller="Users" asp-action="Profile">@user.UserName</a>
                        <hr />
                        <label style="color:black">CONTESTS:</label>
                        <a asp-controller="Contests" asp-action="Create">Create new Contest</a>
                        <a asp-controller="Contests" asp-action="All">All Contests</a>
                        <a href="@Url.Action("All" ,"Contests", new { phase = Constants.Contest.PHASE_ONE_STRING })">Phase One</a>
                        <a href="@Url.Action("All" ,"Contests", new { phase = Constants.Contest.PHASE_TWO_STRING })">Phase Two</a>
                        <a href="@Url.Action("All" ,"Contests", new { phase = Constants.Contest.PHASE_FINISHED_STRING })">Finished</a>
                        <label style="color:black">REGISTERED PARTICIPANTS:</label>
                        <a asp-controller="Participants" asp-action="All">All Participants</a>
                        <hr />
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button style="padding: 8px 40% 8px 40%; text-align:center;" type="submit" class="btn-danger">Logout</button>
                        </form>
                    </div>
                    <div id="main">
                        @RenderBody()
                    </div>
                }
            }
            else
            {
                @RenderBody()
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Photo Contest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@await Component.InvokeAsync("NToastNotify")