﻿<table class="table table-hover">
    <tr>
        <td>Title</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Model.Category.Name</td>
    </tr>
    <tr>
        <td>Creator</td>
        <td><a href="@Url.Action("UserProfile" ,"Users", new { username = @Model.Creator.UserName })">@Model.Creator.UserName</a></td>
    </tr>
    <tr>
        <td>Phase</td>
        <td>@Model.Phase</td>
    </tr>
    @if (Model.Phase == Constants.Contest.PHASE_ONE_STRING)
    {
        <tr>
            <td>Remaining time for uploading</td>
            <td style="color: red">@Model.RemainingTimePhaseOne.Days d, @Model.RemainingTimePhaseOne.Hours h, @Model.RemainingTimePhaseOne.Minutes m</td>
        </tr>
    }
    else if (Model.Phase == Constants.Contest.PHASE_TWO_STRING)
    {
        <tr>
            <td>Remaining time for reviews</td>
            <td style="color: red">@Model.RemainingTimePhaseTwo.Days d, @Model.RemainingTimePhaseTwo.Hours h, @Model.RemainingTimePhaseTwo.Minutes m</td>
        </tr>
    }
</table>