﻿@model ReviewCreateModel

<form asp-controller="Contests" asp-action="AddReview" method="post">
    <div class="form-group">
        <label asp-for="Score">Score</label>
        <input type="number" class="form-control" asp-for="Score" name="Score" />
        <span asp-validation-for="Score" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Comment">Comment</label>
        <textarea class="form-control" asp-for="Comment" name="Comment"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input class="form-check-input" id="checkbox1" type="checkbox" asp-for="FitsCategory" name="FitsCategory" value="">
        <label class="form-check-label" for="defaultCheck1">Photo fits category</label>
    </div>
    <input type="hidden" name="ContestTitle" value="@ViewBag.ContestTitle" />
    <input type="hidden" name="PhotoId" value="@ViewBag.PhotoId" />
    <br />
    <button type="submit" value="Create" class="btn btn-primary">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>$('#checkbox-value').text($('#checkbox1').val());



    $("#checkbox1").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }



        $('#checkbox-value').text($('#checkbox1').val());
    });</script>