﻿@model PhotoDTO

<h5>Uploaded photo</h5>
<hr />
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="@Url.Action("Photo" ,"Photos", new { photoId = Model.Id })" class="btn btn-primary">See more...</a>
    </div>
</div>