﻿@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using PhotoContest.Services.Helpers.Enums;

@model IPagedList<UserViewModel>

<form asp-action="All" method="get">
    <div class="form-actions no-color">
        <p>
            @Html.TextBox("search", ViewBag.Search as string, new { @placeholder = "Type Username here:" })
            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
            <a class="btn btn-outline-secondary btn-sm" asp-action="All"> Back to full list</a>
        </p>
    </div>
</form>

@{ var columns = new Dictionary<string, object>[] {
        new Dictionary<string, object> { { "Label", "First Name" }, { "SortBy", SortByUser.FirstName }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Last Name" }, { "SortBy", SortByUser.LastName }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Username" }, { "SortBy", SortByUser.UserName }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Points" }, { "SortBy", SortByUser.Points }, { "Size", 30 } },
        new Dictionary<string, object> { { "Label", "Rank" }, { "SortBy", SortByUser.Rank }, { "Size", 30 } },
    }; }

<table class="table table-hover table-borderless">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.First().AvatarPath)</th>
            @foreach (var column in columns)
            {
                <th style="width: @column["Size"]">

                    @if (ViewBag.SortBy == (SortByUser)@column["SortBy"])
                    {
                        var newOrderBy = ViewBag.OrderBy == OrderBy.Asc ? OrderBy.Desc : OrderBy.Asc;
                        @Html.ActionLink(@column["Label"].ToString(), "All", new { sortBy = @column["SortBy"], orderBy = newOrderBy, search = ViewBag.Search })

                        var faClass = ViewBag.OrderBy == OrderBy.Asc ? "fa fa-sort-up" : "fa fa-sort-down";
                        <i class="@faClass"></i>
                    }
                    else
                    {
                        @Html.ActionLink(@column["Label"].ToString(), "All", new { sortBy = @column["SortBy"], orderBy = OrderBy.Asc, search = ViewBag.Search })
                    }
                </th>
            }
            <th style="width: 20%"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var participant in Model)
        {
            <tr>
                <td><img class="cover-avatar-listing round-profile-photo" src="@participant.AvatarPath" alt="" style="max-height: 50px; max-width: 50px;" height=100 width=150></td>
                <th scope="row">@Html.DisplayFor(modelContest => participant.FirstName)</th>
                <td>@Html.DisplayFor(modelContest => participant.LastName)</td>
                <th scope="row">
                    <a href="@Url.Action("UserProfile" ,"Users", new { username = participant.UserName })">
                        @participant.UserName
                    </a>
                </th>
                <td>@Html.DisplayFor(modelContest => participant.Points)</td>
                <td>@Html.DisplayFor(modelContest => participant.Rank)</td>
            </tr>
        }
    </tbody>
</table>


@Html.PagedListPager(Model,
page => Url.Action("All", new { page, search = ViewBag.Search }),
new X.PagedList.Web.Common.PagedListRenderOptions
{
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 10,
    LiElementClasses = new string[] { "page-item" },
    UlElementClasses = new string[] { "pagination justify-content-center" },
PageClasses = new string[] { "page-link" },
})