﻿@using System.Linq

@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
    }

    .align-items-center {
        -webkit-box-align: center !important;
        align-items: center !important;
    }

    .form-row {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;
    }

    .img-square {
        position: relative;
        padding-bottom: 100%;
    }

        .img-square .img-cover {
            position: absolute;
        }

    .img-cover {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <!-- Heading -->
            <h1 class="mb-4 text-center animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
                Our Top Rated Photos
            </h1>

            <!-- Text -->
            <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                Register now and don't miss the chance to win and see your photo here!
            </p>

        </div>
    </div> <!-- / .row -->
    <div class="row form-row align-items-center">
        <div class="col-3">

            <div class="">
                <img src="@ViewBag.FirstPhoto" alt="..." class="img-cover rounded shadow">
            </div>

        </div>
        <div class="col-6">
            <div class="row form-row align-items-end mb-2">
                <div class="col-7">

                    <div class="">
                        <img src="@ViewBag.SixthPhoto" alt="..." class="img-cover rounded shadow">
                    </div>

                </div>
                <div class="col-5">

                    <div class="">
                        <img src="@ViewBag.ThirdPhoto" alt="..." class="img-cover rounded shadow">
                    </div>

                </div>
            </div> <!-- / .row -->
            <div class="row form-row">
                <div class="col-5">

                    <div class="">
                        <img src="@ViewBag.FourthPhoto" alt="..." class="img-cover rounded shadow">
                    </div>

                </div>
                <div class="col-7">

                    <div class="">
                        <img src="@ViewBag.FifthPhoto" alt="..." class="img-cover rounded shadow">
                    </div>

                </div>
            </div> <!-- / .row -->
        </div>
        <div class="col-3">

            <div class="">
                <img src="@ViewBag.SecondPhoto" alt="..." class="img-cover rounded shadow">
            </div>

        </div>
        
        
    </div> <!-- / .row -->

</div>
<hr />

<div class="container">
    <div class="row justify-content-md-end" style="padding-top:50px">

        <div class="col">
            <h3 class="text-center">Some tips on how to win our contests</h3>
            <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                Have you ever taken part in a photo contest, haven’t won and lost your motivation?
                This video is especially for people who had this problem before and don’t want to have it again.
            </p>
            <p class="mb-3 text-center text-muted animate"></p>
        </div>
        <div>
            <iframe style="display:block; margin:0 auto;" ; width="500" height="280" src="https://www.youtube.com/embed/Beg5_Ey1RME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

@**@


