﻿    <h4>Scoring</h4>
    <ul>
        <li>Joining open contest – 1 point</li>
        <li>Being invited by organizer – 3 points</li>
        <li>3rd place – 20 points (10 points if shared 3rd)</li>
        <li>2nd place – 35 points (25 points if shared 2nd)</li>
        <li>1st place – 50 points (40 points if shared 1st)</li>
        <li>Finishing at 1st place with double the score of the 2nd (e.g., 1st has been awarded 8.6 points average, and 2nd is 4.3 or less) – 75 points</li>
        <li>In case of a tie, positions are shared, so there can be more than one participant at 1st, 2nd, and 3rd places, all in the same contest.</li>
    </ul>
<hr />
    <h4>Ranking</h4>
    <ul>
        <li>(0-50) points – Junkie</li>
        <li>(51 – 150) points – Enthusiast</li>
        <li>(151 – 1000) points – Master (can now be invited as jury)</li>
        <li>(1001 – infinity) points – Wise and Benevolent Photo Dictator (can still be jury)</li>
    </ul>
<hr />