﻿@using Microsoft.AspNetCore.Identity
@model UserViewModel
@inject SignInManager<User> signInManager

<style>
    div#masonry {
        height: 100vw;
        font-size: 0;
    }

        div#masonry img {
            width: 90%;
            transition: .8s opacity;
        }

        div#masonry:hover img {
            opacity: 0.3;
        }

            div#masonry:hover img:hover {
                opacity: 1;
            }
</style>

@if (signInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body" style="background-color: lightcyan;">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="@Model.AvatarPath" alt="UserAvatar" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>@Model.UserName</h4>
                                    <p class="text-secondary mb-1">@Model.Rank</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!Model.IsAdmin)
                    {
                        <div class="row gutters-sm">
                            <div class="col-sm-12 mb-3">
                                <div class="card l-bg-blue-dark">
                                    <div class="card-body">
                                        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text mr-2">Points to next Rank</i></h6>
                                        <small>Progress (@Model.PointsToNextRank points left)</small>
                                        <div class="progress mb-3" style="height: 5px">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: @ViewBag.PercentNumber%" aria-valuenow="@ViewBag.PercentNumber" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body" style="background-color: #f2f6f5">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    @Model.FirstName @Model.LastName
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    @Model.Email
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="mb-0">Points</h6>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    @Model.Points
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h6 class="mb-0">Rank</h6>
                                </div>
                                <div class="col-sm-7 text-secondary">
                                    @if (Model.IsAdmin)
                                    {
                                        <span>Admin</span>
                                    }
                                    else
                                    {
                                        @Model.Rank
                                    }
                                </div>
                            </div>
                        </div>
                        @if (!Model.IsAdmin)
                        {
                            <div class="py-4 px-4" style="background-color: #f2f6f5">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <h5 class="mb-0">User's Photos</h5>
                                </div>
                                <div class="row pre-scrollable" id="masonry">
                                    @foreach (var photo in ViewBag.UserPhotos)
                                    {
                                        <div class="col-lg-6 mb-2 pr-lg-1">
                                            <a href="@Url.Action("Photo" ,"Photos", new { photoId = photo.Id })"><img src="@photo.ImageUrl" alt="" class="img-fluid rounded shadow-sm"></a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}