﻿@using Microsoft.AspNetCore.Identity
@model UserUpdateModel
@inject SignInManager<User> signInManager

<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="Profile" asp-controller="Users">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update</li>
            </ol>
        </nav>

        <div class="row gutters-sm">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body" style="background-color: lightcyan;">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@ViewBag.Participant.AvatarPath" alt="UserAvatar" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@ViewBag.Participant.FirstName @ViewBag.Participant.LastName</h4>
                                <p class="text-secondary mb-1">@ViewBag.Participant.Rank</p>
                                <p class="text-secondary mb-1">@ViewBag.Participant.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body" style="background-color: #f2f6f5">
                            <div class="row mb-12">
                                <div class="col-sm-12">
                                    <h6 class="mb-6">@Html.DisplayNameFor(model => model.FirstName)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="FirstName" name="FirstName" type="text" class="form-control" placeholder="@Model.FirstName" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-10">
                                <div class="col-sm-12">
                                    <h6 class="mb-6">@Html.DisplayNameFor(model => model.LastName)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="LastName" name="LastName" type="text" class="form-control" placeholder="@Model.LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-10">
                                <div class="col-sm-12">
                                    <h6 class="mb-6">@Html.DisplayNameFor(model => model.Email)</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Email" name="Email" type="email" class="form-control" placeholder="@Model.Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-10">
                                <div class="col-sm-12">
                                    <h6 class="mb-6">Avatar</h6>
                                </div>
                                <div class="form-group">
                                    <input name="AvatarFile" type="file" class="form-control-file" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}   